{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'login_styles.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-logo">
                <img src="{% static 'imagenes/logo.png' %}" alt="Logo de la empresa">
            </div>
            <div class="sso-option">
                <a href="{% url "social:begin" "google-oauth2" %}" class="back-button">Iniciar Sesión</a>
                <a href="http://localhost:8000/" class="back-button">Volver a Inicio</a>
            </div>
    </div>
</body>
</html>

