.login-container {
    display: flex;
    justify-content: center;  /* Centra los elementos horizontalmente */
    align-items: center;      /* Centra los elementos verticalmente */
    height: 100vh;            /* Altura total de la ventana del navegador */
    background-color: #f1f1f1;
}

.login-logo {
    margin-bottom: 20px;
    text-align: center;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-field {
    margin-bottom: 10px;
}

.login-field label {
    display: block;
    margin-bottom: 5px;
}

.login-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-links {
    margin-top: 10px;
    text-align: right;
}

.sso-option {
    margin-top: 20px;
    text-align: center;
}

.sso-option p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}
.sso-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-right: 5px; /* espacio entre botones */
    font-weight: bold;
    outline: none; /* elimina el borde azul al hacer clic */
}

/* Estilos para el botón de Google */
.sso-google {
    background-color: #DB4437;
}

.sso-google:hover {
    background-color: #C53929;
}

/* Estilos para el botón de Facebook */
.sso-facebook {
    background-color: #3B5998;
}

.sso-facebook:hover {
    background-color: #30487C;
}

/* Estilos para el botón de Twitter */
.sso-twitter {
    background-color: #1DA1F2;
}

.sso-twitter:hover {
    background-color: #0C8EDC;
}
.password-container {
    display: flex;
    align-items: center;
    width: 100%;  /* Ocupa todo el ancho disponible en su contenedor padre */
}

.password-input {
    width: 90%;  /* Ocupa el 90% del ancho de .password-container */
    padding-right: 10px; /* Espacio adicional en el lado derecho para que el texto no esté demasiado cerca del botón */
}

.toggle-password {
    width: 30px;  /* Ancho fijo para el botón */
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

